table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-header-cell {
  width: 50px;
}

.mat-row {
  min-height: 65px;

  &.selected {
      background: #dddddd;
  }

}

tr.mat-row:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.mat-row:nth-child(even){
  background-color:#f5f5f5;
}

.mat-row:nth-child(odd){
  background-color:#ffffff;
}

#Indicador{
  width: 5px;
}

#Unidad{
  width: 30px;
  text-transform: capitalize;
}

#Valor{
  width: 40px;
}

#Fecha{
  width: 40px;
}
