<mat-form-field style="width: 35%; margin-left: 15px;">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ej. Euro" autocomplete="off">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div class="mat-elevation-z8" style="width: 95%; margin-left: 15px;">
  <table mat-table [dataSource]="dataSource">

    <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
      <th mat-header-cell *matHeaderCellDef id="{{columnHeader[tableData]}}"> {{columnHeader[tableData]}} </th>
      <td mat-cell *matCellDef="let element"> {{element[tableData] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"
      [ngClass]="{ 'selected': selection.isSelected(row)}" (click)="selection.select(row); selectRow(row);"
      matTooltip="Click en la fila para ver el historial del indicador {{row.name}}" matTooltipPosition="after"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[8]" showFirstLastButtons></mat-paginator>
</div>