<mat-grid-list cols="2" rowHeight="90%" #grid>
  <mat-grid-tile>
    <mat-card class="resumen-indicadores-card">
      <mat-card-header color="primary">
        <mat-card-title>Últimos Indicadores</mat-card-title>
        <mat-card-subtitle>Resumen de los principales indicadores económicos, Dolar, Cobre, Euro, Unidad de Fomento, IPC
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-data-table *ngIf="tableData" [tableData]="tableData" [columnHeader]="columnHeader"></app-data-table>
        <mat-progress-bar *ngIf="!tableData" mode="buffer"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-common-chart style="width: 100%; margin-left: 0px;"></app-common-chart>
  </mat-grid-tile>
</mat-grid-list>
